@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Vinteage Glamour;
    src: url("/assets/fonts/vintageglamourregular.woff2") format("woff2"),
        url("/assets/fonts/vintageglamourregular.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: Vinteage Glamour;
    src: url("/assets/fonts/vintageglamouritalic.woff2") format("woff2"),
        url("/assets/fonts/vintageglamouritalic.woff") format("woff");
    font-style: italic;
    font-weight: 600;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root{    
    --primary-color: #0631a7;
    --secondary-color: #f58c37;
    --white: #fff;
    --black: #000;
    --grey: #ededed;
    --offwhite: #f6f6f6;
    --red: #be0909;
}

@layer components {
    .baseContainer {
        @apply mx-auto 2xl:max-w-screen-xl xl:max-w-screen-lg lg:max-w-screen-lg md:max-w-screen-md max-w-full px-4 md:px-0;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }

    h1 {
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 1rem;
        font-family: Vinteage Glamour;
    }

    h2 {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 1rem;
        font-family: Vinteage Glamour;
    }

    h3 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 1rem;
        font-family: Vinteage Glamour;
    }

    h4 {
        font-size: 25px;
        line-height: 30px;
    }

    h5 {
        font-size: 20px;
        line-height: 25px;
    }

    h6 {
        font-size: 18px;
        line-height: 25px;
    }

    .white-orange-text {
        color: var(--white);
    }

    .white-orange-text span {
        color: var(--secondary-color);
        font-weight: 600;
    }

    .black-blue-text {
        color: var(--black);
    }

    .black-blue-text span {
        color: var(--primary-color);
        font-weight: 600;
    }

    .black-orange-text {
        color: var(--black);
    }

    .black-orange-text span {
        color: var(--secondary-color);
        font-weight: 600;
    }

    .show-desk {
        display: block;
    }

    .show-mob {
        display: none;
    }

    /* common styles of homepage */
    .banner,.culture,.top-picks,.events,.products,.video,.testimonials,.customized{
        padding: 3rem 0;
    }

    .blue-btn {
        background-color: #0631a7;
        color: #fff;
        border: none;
        border-radius: 35px;
        padding: 10px 30px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
    
    /* top-picks section */
    .top-picks{
        background: var(--offwhite);       
    }
    
    /* events section */

    .events{
       background: var(--secondary-color); 
       color: var(--white);
    }

    
    /* video section */

    .video{
       /* background: var(--primary-color); 
       color: var(--white); */
    }

    /* testimonial section */

    .testimonials{
       background: var(--primary-color); 
       color: var(--white);
    }

    /* customised section */
   

    @media(max-width:1600px){

    }
}